<%= bootstrap_form_for @game, html: { multipart: true } do |f| %>
<% if @game.errors.any? %>
<div id="error_explanation">
  <h2 class="page-title"><%= pluralize(track.errors.count, "error") %>
    prohibited this track from being saved:</h2>

  <ul>
    <% track.errors.full_messages.each do |message| %>
    <li><%= message %></li>
    <% end %>
  </ul>
</div>
<% end %>

<header class="formpage">
  <div class="row">
    <div class="newGameForm">
      <div class="panel panel-default">
        <div class="panel-heading">Game</div>
      </div>
      <div class="panel-body">
        <div class="formfield">
          <%= f.text_field :title, autofocus: true, placeholder: "Enter Title" %>
        </div>

        <div class="formfield">
          <%= f.text_field :developer, autofocus: true, placeholder: "Enter Developer"  %>
        </div>

        <div class="formfield">
          <%= f.text_field :genre, autofocus: true, placeholder: "Enter Genre"  %>
        </div>

        <div class="formfield">
          <%= f.text_area :description, autofocus: true, placeholder: "Enter Description"  %>
        </div>

        <div class="formfield">
          <%= f.text_field :release_date, autofocus: true, placeholder: "Enter Release Date"  %>
        </div>

        <div class="formfield">
          <%= f.text_field :rating, autofocus: true, placeholder: "Enter Rating"  %>
        </div>

        <div class="formfield">
          <%= f.text_field :link, autofocus: true, placeholder: "Link to Image (via online)"  %>
        </div>
        <div class="formfield">
          <%= f.text_field :link_2, autofocus: true, placeholder: "Link to Image (via online)"  %>
        </div>
        <div class="formfield">
          <%= f.text_field :link_3, autofocus: true, placeholder: "Link to Image (via online)"  %>
        </div>
        <div class="formfield">
          <%= f.file_field :image, autofocus: true %>
        </div>

        <div class="actions">
          <%= f.submit "Update Game", class: "btn btn-sp"%>
        </div>
        <% end %>
      </div>
    </div>
  </div>
</header>
<p class="show-button">
  <%= link_to 'Back', games_path, class: "btn btn-sp", method: :get %>
</p>
